# =============================
# MySQL data (Docker)
# =============================
/docker/mysql/data/

# =============================
# Environment
# =============================
/src/.env

# =============================
# Dependencies
# =============================
/src/vendor/
/src/node_modules/

# =============================
# Laravel cache & logs
# =============================
/src/storage/*.key
/src/storage/logs/
/src/storage/framework/
/src/storage/app/public/
/src/bootstrap/cache/

# =============================
# IDE / OS
# =============================
.vscode/
.idea/
.DS_Store
Thumbs.db
